body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgba(0, 197, 205, 0.5);
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease;
    z-index: 999;
}

nav.open {
    left: 0;
}

nav a {
    background-color: rgba(0, 197, 205, 0.5);
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 4px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 80%;
}

nav a:hover {
    background-color: #555;
    border-color: #ddd;
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2000;
}

.toggle-btn:hover {
    background-color: #555;
}

header {
    background-color: rgba(0, 197, 205, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav.open + .main-content {
    margin-left: 200px;
}

section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-image img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-text {
    flex: 2;
    font-size: 18px;
}

.google-map iframe {
    width: 700px;
    height: 500px;
    border: 0;
    border-radius: 8px;
}

footer {
    background-color: rgba(0, 197, 205, 0.5);
    color: #fff;
    text-align: center;
    padding: 1em;
}
